@charset utf-8; @import"skeleton.css";

/*Reset do CSS*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*Final do Reset do CSS*/

body{
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:90%;
	line-height: 22px;
	color:#666;
}

li{
list-style-type:none;
}

p{
line-height:140%;
}

h1{
margin:0;
padding:0;
}

h2{
	color:#133372;
	font-size:140%;
	margin:12px 0;
	font-weight:bold;
}

h3{
	color:#133372;
	font-size:120%;
	font-weight:bold;
	margin:5px 0;
}

h4{
	float:left;
	width:80%;
}

span{
	margin-left:20px;
	width:250px;
}
.clear{
	clear:both;
}

#container{
	width:960px;
	height:auto;
	margin:0 auto;
}

/*topo */

#principal{
	margin-top:10%;
}

#container-topo{
	width:100%;
	height:auto;
	background:url(../img/fundo-topo.png)repeat-x;
	padding:15px 0 0;
}

.topo-esquerdo{
	float:left;
	width:75%;
	margin-top:5px;
}

.conteudo-topo{
height:229px;
}

.img-1{
	float:left;
}

.img-2{
	float:right;
	margin-top:10px;
}
.img-3{
	float:right;
	margin-top:-40px;
}
	
.pesquisa{
	width:45%;
	float:left;
	margin:62px 0 0 30px;
}

.pesquisa small{
	color:#133372;
	font-weight:bold;
	margin-bottom:10px;
	font-size:110%;
}

.pesquisa select{
	width:100%;
	padding:5px;
	margin:10px 10px 10px 0;
	color:#666;
	font-size:100%;
}

/*menu*/

.menu {
	font-size: 105%;
}

.menu li{
	float:left;
	margin:0 0 0.65% 0;
	border-right:1px solid #ccc;
	padding-left:10px;
}

.menu .first {
	padding-left: 0;
}

.menu .last {
	border-right: 0;
}

.menu a{
	text-decoration:none;
	color:#666;
	padding:0 10px 0 0;
}

.menu a:hover{
	text-decoration:underline;
	color:#133372;
	padding:0 10px 0 0;
}

.menu-inf {
	margin-top:10px;
}

/*conteudo */

#container-conteudo{
	width:75%;
	padding-bottom:15px;
}
.propaganda-menor,.propaganda-maior,.lista{
	width:70%;
	border-top:1px solid #ccc ;
	padding:10px;
}
.propaganda-menor img{
	width:160px;
	height:145px;
	margin-right:10px;
}
.segura-texto{
	width:65%;
	float:right;
}
.propaganda-maior img{
	width:510px;
}

.lista ul li{
	clear:both;
}

.chamada{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px;
	margin:10px 0;
}

.anunciantes a{
	text-decoration:none;
	color:#666;
}

.anunciantes a:hover{
	text-decoration:underline;
	color:#133372;
	
}
.uteis{
width:35%;
float:left;
}
.uteis-3{
	width:10%;
	float:left;
}
.uteis-2{
width:15%;
float:left;
}

.botao {
	margin:10px 0;
	width:100px;
}

/*rodape */

#container-rodape{
	width:100%;
	height:52px;
	background:url(../img/fundo-rodape.png)repeat-x;
	padding:10px 0;
}

/* forms */

label{
	float:left;
	width:100%;
	margin:10px 0;
}

form span.required {
	color: #A9302A;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
}

form input[type="text"], select, textarea {
	width: 70%;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 3px;
}

form input.error, select.error, textarea.error {
	border-color: #A9302A;
}

.flash-success {
	color: #468847;
}
