 

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
		#container {max-width:300px;margin:0 auto!important}
	   
		body{margin:0;
			padding:0;
			font-family:Arial;
			font-size:80%!important;
			line-height: normal;
			color:#666;
		}
		h4{
			float:left;
			width:70%!important;
		}

	   /*topo */

		#principal{
			margin-top:0!important;
		}

		#container-topo{
			width:300px;
			height:auto;
			background:url(../img/fundo-topo2.png)repeat-x!important;
			margin:10px 0;
			padding:0 0 0 !important;
		}
		
		.img-1{
			float:left;
			width:100%;
		}
		.img-2{
			margin:10px 30px!important;
		}
		.img-4{
			width:100%;
		}
		
		.topo-esquerdo{
			float:left;
			min-width:100%;
			margin-top:-2px!important;
		}
		
		.pesquisa{
			min-width:100%;
			float:left;
			margin:100px 0 0 0!important;
		}

		.pesquisa small{
			color:#133372;
			font-weight:bold;
			margin-bottom:10px;
			font-size:110%;
		}

		.pesquisa select{
			width:100%;
			padding:5px;
			margin:10px 10px 10px 0;
			color:#666;
			font-size:100%;
		}
		/*menu*/
		.menu{
		font-size:105%;
		width:100%;
		margin:0 auto;
		}

		.menu li{
			float:left;
			margin:0 0 3% 0!important;
			border:none!important;
			
			
		}

		.menu a{
			text-decoration:none;
			color:#666;
			padding:0 0 !important;
		
		}

		.menu a:hover{
			text-decoration:underline;
			color:#133372;
			padding:0 0!important;
		}
		
		.format{padding:0!important;}

		.menu-inf{
			margin-top:-210px!important;
		}
		
		/*conteudo*/
		#container-conteudo{
		width:100%!important;
		padding-bottom:15px;
		}
		
		.propaganda-menor,.propaganda-maior,.lista{
			width:100%!important;
			border-top:1px solid #ccc ;
			padding:10px 0!important;
		}
		
		.propaganda-menor img{
			max-width:100px;
			max-height:91px;
			margin-right:0;
		}
		
		.segura-texto{
			max-width:62%;
			float:right;
		}
		
		.propaganda-maior img{
			max-width:100%;
		}

		.uteis{
			width:70%!important;
			float:left;
			}
		.uteis-3{
			width:20%!important;
			float:left;
		}

		.uteis-2{
			width:15%;
			float:left;
		}
		
		.anunciantes li{
			margin:7px 0;
		}
		/* formulario */
		form input{
			width:100%!important;
		}
		
		.botao {
			margin:10px 0;
			width:100px!important;
		}

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        #container {max-width: 400px; margin:0 auto!important}
		
		  body{
			margin:0;
			padding:0;
			font-family:Arial;
			font-size:80%!important;
			line-height: normal;
			color:#666;
		}
		
		h4{
			float:left;
			min-width:78%;
		}
		
	   /*topo */

		#principal{
			margin-top:0!important;
		}

		#container-topo{
			width:300px;
			height:auto;
			background:url(../img/fundo-topo3.png)repeat-x!important;
			margin:10px 0;
			padding:0 0 0 !important;
		}
		
		.img-1{
			float:left;
			width:100%;
			height:99.5%;
		}
		.img-2{
			margin:10px 100px!important;
		}
		
		.topo-esquerdo{
			float:left;
			min-width:100%;
			margin-top:0;
		}
		
		.pesquisa{
			min-width:100%;
			float:left;
			margin:62px 0 0 0!important;
		}

		.pesquisa small{
			color:#133372;
			font-weight:bold;
			margin-bottom:10px;
			font-size:110%;
		}

		.pesquisa select{
			width:100%;
			padding:5px;
			margin:10px 10px 10px 0;
			color:#666;
			font-size:100%;
		}
		
		/*menu*/
		.menu{
		font-size:105%;
		width:100%;
		}

		.menu li{
			float:left;
			margin:0 6px 3% 0!important;
		}

		.menu a{
			text-decoration:none;
			color:#666;
			padding:3px 0;
		}

		.menu a:hover{
			text-decoration:underline;
			color:#133372;
			padding:3px 0;
		}

		.menu-inf{
			margin-top:-170px!important;
		}

       
    }



