body {
	padding-top: 90px;	
	background: #f9f9f9 url(../../img/admin/body.png);
	font-size: 13px;
}

#ajax-loading {
	display: none;
	position: fixed;
	top: 140px;
	right: 40px;
	width: 90px;
	height: 50px;
	background: #FFF url(../../img/admin/icon-loading-36.gif) no-repeat center;
	opacity: 0.8;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}

body.loading #ajax-loading {
	display: block;
}

#content > .alert {
	padding-right: 14px;
	text-align: center;
}

#menu .navbar-fixed-top {
	top: 40px;
	z-index: 1020;
}

.login .page-header {
	margin-bottom: 9px;
	border: 0;
	text-align: center;
}

.login .page-header h2 {
	font-size: 40px;
	line-height: 1;	
}

.login #content {
	margin: 0 auto;
	width: 320px;
}

/* Grids
------------------------------------------------------------*/

.grid-view {
	padding: 0;
}

.grid-view .table {
	background-color: #fff;	
}

.grid-view .table-bordered thead th {
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#E9E9E9));
	background-image: -webkit-linear-gradient(top, #F7F7F7, #E9E9E9);
	background-image: -moz-linear-gradient(top, #F7F7F7, #E9E9E9);
	background-image: -o-linear-gradient(top, #F7F7F7, #E9E9E9);
	background-image: linear-gradient(to bottom, #F7F7F7, #E9E9E9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#E9E9E9')";
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
}

.grid-view .table thead th a {
	color: #666;
}

.grid-view .table thead th a .caret {
	border-top-color: #666;
}

.grid-view .filter-container {
	padding: 0;
}

.grid-view .filters td input {
	height: 17px;
	line-height: 17px;
	padding: 0;
	border: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.grid-view .table tbody td {
	cursor: pointer;	
}

.grid-view table .empty {
	text-align: center;	
}

.grid-view .button-column {
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: nowrap;
}

/* Lists
------------------------------------------------------------*/

.pagina .list-view .table {
	margin: 0;
	border: 0;
}

.pagina .list-view .table h4 {
	margin: 0;
	font-size: 22px;
	font-weight: normal;
	color: #999;
}

.pagina .list-view .table ul {
	margin-bottom: 0;
}

.pagina .list-view .table .table {
	background-color: transparent;
}

.pagina .list-view .table th,
.pagina .list-view .table td {
	border-top: 0;
	border-bottom: 1px dashed #ddd;
	vertical-align: middle;
}

.pagina .list-view .table .table th,
.pagina .list-view .table .table td {
	padding-top: 0;
	border: 0;	
}

.pagina .list-view > .table > tbody > tr > td:last-child {
	text-align: right;
}

.pagina .list-view .table input[type="file"] {
	height: 24px;
	color: #999;
	line-height: 24px;
} 

.pagina .list-view .table select, 
.pagina .list-view .table textarea, 
.pagina .list-view .table input[type="text"], 
.pagina .list-view .table input[type="password"], 
.pagina .list-view .table input[type="datetime"], 
.pagina .list-view .table input[type="datetime-local"], 
.pagina .list-view .table input[type="date"], 
.pagina .list-view .table input[type="month"], 
.pagina .list-view .table input[type="time"], 
.pagina .list-view .table input[type="week"], 
.pagina .list-view .table input[type="number"], 
.pagina .list-view .table input[type="email"], 
.pagina .list-view .table input[type="url"], 
.pagina .list-view .table input[type="search"], 
.pagina .list-view .table input[type="tel"], 
.pagina .list-view .table input[type="color"], 
.pagina .list-view .table .uneditable-input {
	margin: 0;
}

/* Forms
------------------------------------------------------------*/

.form-actions {
	background-color: rgba(0, 0, 0, .03);
}

/* login */

#loginForm {
	margin: 0;
	padding: 35px 29px 25px;
	background: #FFF;
	border: 1px solid #DDD;
	border-top-color: #C5C5C5;
	border-bottom-color: #BBB;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#loginForm .form-actions {
	margin: 9px 0 0;
	padding: 0;
	border: 0;
	background: none;	
}

#loginForm .form-actions .checkbox {
	margin-top: 5px;
}


/* Others
------------------------------------------------------------*/


.panel {
	margin-bottom: 18px;
	padding: 19px;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-header {
	margin: 0 -20px 9px;
	padding: 0 20px 18px;
	border-bottom: 1px solid #ddd;	
}

.panel-header .panel-heading {
	display: inline-block;
	margin: 0 9px 0 0;
	line-height: 1;
	vertical-align: middle;
}
